################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestioData/TestioData.dbmdl
/TestioData/TestioData.jfm
